* {
  margin: 0;
  padding: 0;
}

html {
  background: url('https://www.solitaire-web-app.com/solitaire/images/backgrounds/1920x1200/green_felt.jpg')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 50px;
  grid-template-areas:
    'a a b b b c c'
    'a a b b b c c'
    'd d e e e f f'
    'd d e e e f f';
}

.card-item-1 {
  grid-area: a;
}

.card-item-2 {
  grid-area: c;
}

.cardBack {
  transform: scale(0.5);
  transition: 0.5s ease;
}

.cardBack:hover {
  /* transform: scale(0.52); */
  /* transition: 0.5s ease; */
  /* animation: shadow-pulse 0.9s infinite; */
}

.cardFront {
  transform: scale(0.5);
  /* transition: 0.5s ease; */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(15, 15, 15, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}
